*{
    margin: auto;
    text-align: center;
}

header{
    display: flex;
    padding: 10px;
    background-color: #85DEFA;
}
a{
    text-decoration: none;
    margin-left: 10px;
    color: #0000ee;
}
p{
    text-align: justify;
    width: 40%;
    font-family: 'Ubuntu', sans-serif;
}
h2{
    margin-top: 20px;
    margin-bottom: 20px;
}
body{
    background: linear-gradient(to right, #85DEFA, #f0e4e4)
}
footer{
    padding: 10px;
    background-color: #85DEFA;
    margin-top: 346px;
}
footer p{
    text-align: center;
}
aside img{
    width: 500px;
    height: 300px;
}
aside{
    margin-top: 50px;
}